<style>
body {
    background: url("https://boxemail.s3.amazonaws.com/community_stripe.jpg") repeat-x scroll 0 0 #DCF1FF;
}

#page {
    background: url("https://boxemail.s3.amazonaws.com/community_bg.jpg") no-repeat scroll transparent;
    min-height: 500px;
}

#content {
    border: 1px solid #C1C1C1;
    background: #F4F4F4 none no-repeat scroll 0;
    min-height: 500px;
    padding: 15px;
    width: 950px;
    margin: 0 auto 0 auto;
}

header {
    width: 950px;
    margin: 15px auto 15px auto;
}

.input_txt {
    height: 23px;
    width: 500px;
    font-size: 20px;
    padding: 4px;
}
.big_button {
    background-color: #7A7A7A;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    width: 86px;
}
#results { margin-top: 15px; }
</style>

<div id=page>
    <header>
        <a href="http://support.box.com" target="_blank" title=""><img alt="" id="logo" src="https://box.zendesk.com/system/logos/2007/9121/community_logo.jpg"></a>
    </header>
    <div id=content>
        <form action="/zendesk/search" id=search method="post">
            <input type="text" class=input_txt name="query" />
            <input type="submit" class=big_button value="Search">
        </form>
        
        <div id=results>
        </div>
    </div>
</div>
    
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function(){
    
            jQuery("#search").validate({
                    debug: false,
                    rules: {
                            query: {
                                    required: true,
                            }
                    },
                    messages: {
                            query: "",
                    },
                    submitHandler: function(form) {
                            // do other stuff for a valid form
                            jQuery('#results').empty().html('<img src="https://assets.zendesk.com/images/ajax-loader.gif" />');
                            jQuery.post('/zendesk/search', jQuery("#search").serialize(), function(data) {
                                    jQuery('#results').html(data);
                            });
                    }
            });
    });
</script>
