<div class="navbar">
  <div class="navbar-inner">
      <a class="brand" href="#">User Manager</a>
      <a href=/other/logout class="btn btn-danger" style="float:right;">Sign out</a>
  </div>
</div>

<div class="container-fluid">
  <div class="span10">

    <form class="form-horizontal" id="memberform">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Member's email address</label>
          <div class="controls">
            <input type="text" name=member_email class="input-large" placeholder="e.g. alice@gmail.com" size=50>
            <a href=# class="btn" onclick=showtopics()>Look up</a>
          </div>
        </div>
      </fieldset>
    </form>

    <div id=topics>
    </div>

  </div>
</div>

<script type="text/javascript">
    function showtopics()
    {
        jQuery('#topics').empty().html('<center><img src="/assets/loader.gif" /></center>');
        jQuery.post("/usersearch/topics", jQuery("#memberform").serialize(), function(data) {
          jQuery('#topics').html(data);
        });
    }


</script>