<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">About this site</a>
  </div>
</div>

<h5>Get Satisfaction doesn't own this site or these apps.</h5>
<h5>They don't maintain the code, and they don't provide support for them when they break. Use the integrations here for functionality, inspiration, or screen savers, but do so at your own risk.</h5>
<h5>If you have developed anything using the Get Satisfaction API and want it to be featured on this site, reach out to us using the feedback form below.</h5>

<div id="getsat-widget-5493"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
if (typeof GSFN !== "undefined") { GSFN.loadWidget(5493,{"containerId":"getsat-widget-5493"}); }
</script>