<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">About this site</a>
  </div>
</div>

<h5>Get Satisfaction doesn't support this site or these apps.</h5>
<h5>We don't maintain the code, and we don't provide support for them if it breaks. Use the integrations here for functionality, inspiration, or screen savers, but do so at your own risk.</h5>
<h5>If you have developed anything using the Get Satisfaction API and want it to be featured on this site, reach out to us using the feedback tab on the left side.</h5>