<title>Fastpass Site Simulation</title>

<style type="text/css">
#message
{
    font-size: 0.9em;
    width: 60%;
    text-align: left;
    margin: 1em auto;
    padding: 0.75em;
    background-color: #ffffcc;
    border: solid 1px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    display: none;
}
form#fastpass_credentials label
{
    display: inline-block;
    width: 12em;
    vertical-align: top;
    padding: 0.5em 1em 0.5em 0;
    font-size: 0.9em;
}
form#fastpass_credentials p.submit
{
    padding-left: 10em;
}
#dialog
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
#dialog .content
{
    min-width: 400px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    margin-top: 150px;
    padding: 1em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 5px 5px 5px #111;
    -moz-box-shadow: 5px 5px 5px #111;
    -webkit-box-shadow: 5px 5px 5px #111;
}
</style>

<!-- OAuth      --><script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
<!-- OAuth SHA1 --><script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
<script type="text/javascript" src="http://getsatisfaction.com/javascripts/fastpass.js" id="fastpass_common"></script>

<script type="text/javascript">
/**
 * See <http://oauth.googlecode.com/svn/code/javascript/>.
 */
$(function(){
    
    var exc;
    var $form = $('#fastpass_credentials');

    $('#form_submit').click(function(evt) {
        try {
            handleFormSubmit();
        } catch(exc) {
            // ignore //
        } finally {
            return false;
        }
    });

    function handleFormSubmit() {

        var callbackUrl = generateOauthSignedUrl();

        $('script#fastpass').remove();
        $('<script/>', {src: callbackUrl, type: 'text/javascript', id: 'fastpass'}).appendTo('head');

        openDialog(
           "<p>Fastpass URL<br/>" +
           "<pre>    " + callbackUrl.replace(/&/g, '\n      &') +
           "</pre></p>"
        );
    }

    function openDialog(html) {

        if(!$('#dialog').size()) {
            $(
              '<div id="dialog">' +
                '<div class="content">' +
                  '<div class="message"></div>' +
                  '<p><input type="button" class="btn close-modal" value="Close"/> ' +
                  '<a href=# class="btn btn-primary go-to-community">Go to community</a>' +
                '</div>' +
              '</div>'
            ).appendTo('body')
             .click(function(evt){
                  if($(evt.target).hasClass('close-modal')) {
                      $(this).hide().find('.message').empty().end();
                  }
                  if($(evt.target).hasClass('go-to-community')) {
                      location.href = 'https://google.com';
                  }
             });
        }

        $('#dialog .message').html(html).slideDown();
    }

    function generateOauthSignedUrl() {

        var fastpassUrlProtocol = $('#is_secure').attr('checked') ? 'https://' : 'http://';
        var fastpassUrlHost =  $('#host').val() || 'getsatisfaction.com';
        var fastpassUrlPath =  '/fastpass';

        var accessor = {
            consumerSecret: $('#consumer_secret').val()
        };
        var message = {
            method:     'GET',
            action:     fastpassUrlProtocol + fastpassUrlHost + fastpassUrlPath,
            parameters: OAuth.decodeForm( $('#additional_parameters').val() )
        };

        message.parameters.push(
            ['oauth_version',          '1.0'],
            ['oauth_timestamp',        Math.round((new Date()).getTime() / 1000)],
            ['oauth_nonce',            OAuth.nonce(11)],
            ['oauth_signature_method', 'HMAC-SHA1']
        );

        $(':input', $form).each(function(){
            if ( (!$(this).is(':checkbox, :radio') || $(this).attr('checked')) && !$(this).hasClass('exclude')) {
                message.parameters.push([$(this).attr('name'), $(this).val()]);
            }
        });

        OAuth.SignatureMethod.sign(message, accessor);
        var urlParams = OAuth.SignatureMethod.normalizeParameters(message.parameters);
        var signatureParam = OAuth.percentEncode(OAuth.getParameter(message.parameters, "oauth_signature"));

        return message.action + '?' + urlParams + '&oauth_signature=' + signatureParam;
    alert(message.action);
    }

});
</script>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Fastpass Simulator</a>
  </div>
</div>

<div class="alert alert-warning">
    Make sure you're using this tool in Chrome Incognito mode, or Firefox Private Browsing, or similar.  
</div>

<form id="fastpass_credentials" method="get">
  <p>
    <label for="is_secure">Use HTTPS?</label>
    <input type="checkbox" id="is_secure" name="is_secure" value="1" class="exclude" />
  </p>
  <p>
    <label for="host">Host</label>
    <input type="text" id="host" name="host" value="" class="input-xxlarge exclude" title="community.yourdomain.com   (if not CNAMEd: getsatisfaction.com)" data-toggle="tooltip" />
  </p>
  <p>
    <label for="oauth_consumer_key">Fastpass Key</label>
    <input type="text" id="oauth_consumer_key" class="input-xxlarge" name="oauth_consumer_key" value=""/>
  </p>
  <p>
    <label for="consumer_secret">Fastpass Secret</label>
    <input type="text" id="consumer_secret" class="input-xxlarge exclude" name="consumer_secret" value="" size="40" />
  </p>
  <p>
    <label for="email">External system Email</label>
    <input type="text" id="email" class="input-xlarge" name="email" value=""/>
  </p>
  <p>
    <label for="name">GetSat Display Name</label>
    <input type="text" id="name" class="input-xlarge" name="name" value=""/>
  </p>
  <p>
    <label for="uid">External system UID</label>
    <input type="text" id="uid" class="input-xlarge" name="uid" value=""/>
  </p>
  <p>
    <label for="additional_parameters">Other&nbsp;Params</label>
    <input type="text" id="additional_parameters" name="additional_parameters" class="input-xxlarge exclude" title="e.g. twitter_id=jargon&foo=bar" data-toggle="tooltip" ></input>
  </p>
  <p class="submit">
    <a href=# id=form_submit class="btn btn-large btn-primary">Simulate Fastpass Login</a>
  </p>
</form>