<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>

</head>

<body>
  <a data-toggle="modal" href="#myModal">Help me!</a>

  <div class="modal hide" id="myModal" style="width: 800px; margin-left:-400px;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h5>Please specify the category and question that you're inquiring about...</h5>
    </div>
    <div class="modal-body">
      <div id="getsat-widget-4795"></div>
      <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
      <script type="text/javascript">
      if (typeof GSFN !== "undefined") { GSFN.loadWidget(4795,{"containerId":"getsat-widget-4795"}); }
      </script>
    </div>
  </div>

</body>
