#cu .chg-form-lg{width:97%}
#cu input.text{font-family:'MuseoSlab-700', Helvetica, Arial;font-size:16px;width:98%;height:1.688em;-moz-border-radius:5px;border:1px solid #CCC;color:#CCCCCC;margin-right:10px;outline:0 none;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0px 1px 0px #ececec, 0px 1px 0px rgba(255,255,255,0.5)}
#cu .chg-util-autosuggest-box-cu{padding:10px 0px 20px}
#cu #article{line-height:1.25em;color:#333333;font-family:"Helvetica";font-size:13px}
#cu #article ul{margin-left:2em;padding-bottom:1em}
#cu #article ul li{list-style:disc outside none;padding-bottom:0.5em}
#cu #article ol li{list-style:decimal outside none;margin-left:2em;padding-bottom:0.5em}
#cu #article h1, h2, h3, h4, h5, h6, strong, dt{font-weight:bold}
#cu #article h3{color:#005D88;font-size:16px;margin:1em 0;font-weight:bold}
#cu #article p{margin-bottom:1em}
#cu #populartopics ul li{padding:5px 0px}
#cu .hrs_hdr{padding-top:10px}
#cu .commbox{padding-top:20px}
.cu_hdr{padding:20px 30px}
#cu .dark{color:#000}
iframe#virtuoz_iframe{width:950px;height:1100px}
body.ie6iframe#virtuoz_iframe{width:976px}
div.scrollable_autosuggest{overflow:auto;max-height:220px}
.help-link-box li{padding-bottom:9px}
#chatbutton, #phonebutton{width:55px}