<style>
.topics {
    width: 500px;
    margin-left: 20px;
    padding: 0px 5px;
    height: 28.5em; /* total visible tweets, in this case set to 5 */
    overflow: hidden; /*keep tweets outside of the container from being seen */
    border: 1px solid #DDD;
}
#topiclist {
    width: 500px;
    position: relative;
    list-style-type: none;
    top: -5em; /* allows a tweet to be moved into hidden space before scrolling into view */
    margin: 0px;
    padding: 0px;
}
.topic {
    height: 5em;
    padding-top: 0.3em;
    font-size: 0.9em;
    border-bottom: 1px solid #DDD;
}
.loader_image {
    margin-top: 10px;
    margin-left:10px;
}
.avatar {
    float: left;
    padding-right: 5px;
}
</style>

<img style="margin: -40px auto 20px 20px;" src="https://getsatisfaction.com/images/badges/badge_get_help.png" />
<br/>

<div id=topics class=topics>
</div>

<div id=last_topic class=topics style="display:none;">
  <ul id=lasttopic>
  </ul>
</div>

<script type="text/javascript">
    function loadTopics() {
        jQuery('#topics').empty().html('<img src="/assets/loader.gif" class="loader_image" />');
        jQuery.get('/topicfeed/topics', function(data) {
                jQuery('#topics').empty().html('<ul id=topiclist></ul>');
                jQuery('#topiclist').empty().html(data);
        });
    };
    function loadLastTopic() {
//        jQuery('#topics').empty().html('<img src="/assets/loader.gif" />');
        jQuery.get('/topicfeed/last_topic', function(data) {
                jQuery('#lasttopic').empty().html(data);
        });
        if (jQuery('#lasttopic li').size() > 0) {
          $("#topiclist li:last").remove();
          $("#topiclist").append($("#lasttopic li"));
          autoScroll();
        };
    };
    
    function autoScroll() {
        var itemHeight = $('#topiclist li').outerHeight();
        /* calculate how much to move the scroller */
        var moveFactor = parseInt($('#topiclist').css('top')) + itemHeight;
        /* animate the carousel */
        $('#topiclist').animate({
            'top' : moveFactor
        }, 'slow', 'linear', function(){
            /* put the last item before the first item */
            $("#topiclist li:first").before($("#topiclist li:last"));
            /* reset top position */             
            $('#topiclist').css({'top' : '-5em'});
        });
    };
    /* make the carousel scroll automatically when the page loads */

    loadTopics();
    loadLastTopic();

    var reloadTopics = setInterval(loadLastTopic, 3000);
    // var moveScroll = setInterval(autoScroll, 3000);
</script>
