<!DOCTYPE html>
<html>
<head>
  <title>Gslabs</title>

  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <%= javascript_include_tag "application" %>
  <script language="JavaScript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
