<div class="navbar navbar-static-top" style="padding-bottom:20px;">
  <div class="navbar-inner">
    <a class="brand" href="#">Community Members Explorer</a>
    
    <a href="/other/logout" class="btn btn-danger" style="float:right;">Sign out</a><div style="float: right; margin: 9px;">Welcome <%= session[:name] %> </div>
  </div>
</div>

<div class="container-fluid" id=people>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('#people').empty().html('<center><img src="/assets/loader.gif" /></center>');
      jQuery.get('/members/people', function(data) {
              jQuery('#people').html(data);
      });
    });
</script>