<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Community Members Explorer</a>
    <a href=/other/logout class="btn btn-danger" style="float:right;">Sign out</a>
  </div>
</div>

<form class="form-inline pull-left" style="margin: 6px;" id="search">
  <input type="text" name="fastpasskey" class="input-large" placeholder="fastpass key">
  <input type="text" name="fastpasssecret" class="input-xxlarge" placeholder="fastpass secret">
  <button type="submit" class="btn" style="margin-top:0px;">Go!</button>
</form>

<div class="container-fluid" id=people>
</div>
    
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function(){
    
            jQuery("#search").validate({
                    debug: false,
                    rules: {
                            query: {
                                    required: true,
                            }
                    },
                    messages: {
                            query: "",
                    },
                    submitHandler: function(form) {
                            // do other stuff for a valid form
                            jQuery('#people').empty().html('<img src="/assets/loader.gif" />');
                            jQuery.post('/members/people', jQuery("#search").serialize(), function(data) {
                                    jQuery('#people').html(data);
                            });
                    }
            });
            
    });
</script>
